@charset "UTF-8";
/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .footer .footer1, footer .container-footer-all .container-footer {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-video, .texto-we, .title-box {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-video, .texto-we, .title-box {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-video, .texto-we, .title-box {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
.title-box a {
  text-decoration: none;
  color: #000;
}

/* FOTO PRESENTACION PAGINA */
.content-welcome {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2% auto;
  position: relative;
}
.content-welcome .img-welcome {
  width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
}
.content-welcome .img-welcome img {
  width: 100%;
  transition: all 300ms;
}
.content-welcome .img-welcome img:hover {
  transform: scale(1.2);
  transition: all 300ms;
  opacity: 0.9;
  filter: grayscale(1);
}
@media screen and (max-width: 980px) {
  .content-welcome {
    display: none;
  }
}

/* FIN FOTO PRESENTACION PAGINA */
/* CAROUSEL */
.slider-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 980px) {
  .slider-container {
    display: flex;
    width: 100%;
  }
  .slider-container .slide img {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
.slider-container .slide {
  width: 80%;
}
.slider-container .slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

/* FIN CAROUSEL */
/* SECCION PRODUCTOS */
.container-pre {
  margin: 0;
}
.container-pre .section-we {
  display: grid;
  grid-template-columns: 40% 20%;
  grid-template-rows: 40% 20% 5% 5%;
  grid-gap: 1rem;
  justify-content: center;
  max-width: 100%;
  max-height: 100%;
  padding: 1rem;
  margin: 0 auto;
}
.container-pre .section-we img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: all 500ms ease;
}
.container-pre .section-we img:hover {
  transform: scale(1.2);
  transition: all 500ms ease;
  cursor: pointer;
}
.container-pre .section-we .ph-grid1 {
  grid-row: 1/3;
}
.container-pre .section-we .ph-grid4 {
  grid-column: 1/3;
  font-size: 35px;
}
@media screen and (max-width: 980px) {
  .container-pre .section-we .ph-grid4 {
    font-size: 14px;
    margin: 0 auto;
    text-align: justify;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .container-pre .section-we .ph-grid4 {
    margin: 2px 15px;
    text-align: justify;
  }
}
@media screen and (max-width: 480px) {
  .container-pre .section-we {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 2px 2px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .container-pre .section-we {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 2px auto;
    padding: 3px;
  }
}

/* FIN SECCION PRODUCTOS */
/* MUSICA PARA SCROLLEAR */
.section-video {
  margin: 20px;
}
.section-video .video {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .section-video .video {
    display: flex;
    justify-content: center;
  }
  .section-video .video #youtube {
    width: 100%;
    max-height: 100%;
  }
}
.section-video .video-parrafo {
  text-align: center;
  font-size: 40px;
}

/* FIN MUSICA PARA SCROLLEAR */
/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .footer .footer1, footer .container-footer-all .container-footer {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
/* HEADER */
header nav {
  padding: 10px;
  margin: 0 auto;
  background: linear-gradient(#612897, #2a272c);
  height: 140px;
  width: 100%;
  /* MEDIA QUERY MOBILE*/
  /* FIN MEDIA QUERY MOBILE*/
  /* MEDIA QUERY TABLET */
  /* FIN MEDIA QUERY TABLET */
}
header nav .checkbtn {
  font-size: 50px;
  color: white;
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
header nav #check {
  display: none;
}
@media (max-width: 480px) {
  header nav header {
    max-width: 100%;
  }
  header nav .checkbtn {
    display: block;
  }
  header nav #check:checked ~ ul {
    left: 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 1119px) {
  header nav header {
    max-width: 100%;
  }
  header nav .checkbtn {
    display: block;
  }
  header nav #check:checked ~ ul {
    left: 0;
  }
}
header nav label.logo {
  padding: 0px 10px;
  /* MEDIA QUERY MOBILE*/
  /* FIN MEDIA QUERY MOBILE*/
  /* MEDIA QUERY TABLET */
  /* FIN MEDIA QUERY TABLET */
}
header nav label.logo img {
  max-height: 200px;
  max-width: 250px;
}
@media (max-width: 480px) {
  header nav label.logo label .logo {
    padding-left: 0;
  }
  header nav label.logo img {
    display: block;
    max-height: 80px;
    max-width: 130px;
    margin-top: 15px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  header nav label.logo img {
    max-height: 100px;
    max-width: 150px;
    margin-top: 15px;
  }
}
header nav ul {
  float: right;
  margin-right: 20px;
  /* MEDIA QUERY MOBILE*/
  /* FIN MEDIA QUERY MOBILE*/
  /* MEDIA QUERY TABLET */
  /* FIN MEDIA QUERY TABLET */
}
header nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
header nav ul li a {
  font-family: "Bebas Neue", cursive;
  color: #000;
  font-size: 40px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  list-style: none;
}
header nav ul li a a.activar, header nav ul li a:hover {
  background: #612897;
  transition: 0.5s;
  color: #fff;
}
@media (max-width: 480px) {
  header nav ul {
    position: fixed;
    max-width: 100%;
    width: 100%;
    height: 40vh;
    background: linear-gradient(#2a272c, #612897);
    z-index: 10;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    margin: 20px 0;
    line-height: 20px;
  }
  header nav ul li a {
    font-size: 26px;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 481px) and (max-width: 1119px) {
  header nav ul {
    position: fixed;
    width: 100%;
    height: 40vh;
    background: linear-gradient(#2a272c, #612897);
    z-index: 10;
    top: 140px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    margin: 5px 0;
    line-height: 30px;
  }
  header nav ul li a {
    font-size: 26px;
    flex-wrap: wrap;
  }
}

/* FIN HEADER */
/* footer */
/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .footer .footer1, footer .container-footer-all .container-footer {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
footer {
  width: 100%;
  background: linear-gradient(#2a272c, #612897);
  color: #fff;
}
footer .container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
footer .container-footer-all .container-footer .columna1 {
  justify-content: flex-start;
}
footer .container-footer-all .container-footer .columna1 img {
  max-height: 200px;
  max-width: 250px;
}
footer .container-footer-all .container-footer .columna2 {
  max-width: 400px;
}
footer .container-footer-all .container-footer .columna2 h2 {
  font-size: 30px;
}
footer .container-footer-all .container-footer .columna2 .row {
  display: flex;
  margin-top: 20px;
}
footer .container-footer-all .container-footer .columna2 .row img {
  width: 36px;
  height: 36px;
}
footer .container-footer-all .container-footer .columna2 .row label {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 20px;
  color: #c7c7c7;
}
footer .container-footer-all .container-footer .columna2 .row a {
  text-decoration: none;
}
footer .container-footer-all .container-footer .columna3 {
  max-width: 400px;
}
footer .container-footer-all .container-footer .columna3 h2 {
  font-size: 30px;
}
footer .container-footer-all .container-footer .columna3 .row2 {
  margin-top: 20px;
  display: flex;
}
footer .container-footer-all .container-footer .columna3 .row2 img {
  width: 36px;
  height: 36px;
}
footer .container-footer-all .container-footer .columna3 .row2 label {
  margin-top: 10px;
  margin-left: 20px;
  max-width: 100px;
  font-size: 20px;
  color: #c7c7c7;
}
@media screen and (max-width: 480px) {
  footer .container-footer-all .container-footer {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 40px;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer .container-footer-all .container-footer {
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 40px;
  }
}
footer .container-footer-all .footer {
  width: 100%;
  background: #101010;
}
footer .container-footer-all .footer .footer1 {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}
footer .container-footer-all .footer .footer1 .copyright {
  color: #c7c7c7;
  font-weight: bold;
}

/* pagina de como comprar */
/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .container-footer, footer .container-footer-all .footer .footer1 {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-comprar, .title-box, .texto-we, .title-video {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
/* titulo */
/* div de texto */
.div-flex {
  display: block;
  margin: 4%;
}
.div-flex div {
  text-align: center;
  border: 2px solid black;
  border-radius: 6px;
  padding-top: 10px;
  margin: 10px;
  background: linear-gradient(#612897, #2a272c);
  animation: bounce 3s ease;
}
.div-flex div p {
  font-size: 35px;
  color: #fff;
}
@keyframes bounce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@media screen and (max-width: 980px) {
  .div-flex div {
    max-width: 90%;
    flex-wrap: wrap;
  }
}

/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .container-footer, footer .container-footer-all .footer .footer1 {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-box, .texto-we, .title-video, .title-comprar {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-box, .texto-we, .title-video, .title-comprar {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .box-contacto .form-seccion .display-1, .title-box, .texto-we, .title-video, .title-comprar {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

.box-contacto {
  font-family: "Bebas Neue", cursive;
  padding: 35px;
  margin: 15px auto;
  width: 100%;
  justify-content: center;
}
.box-contacto .form-seccion .item {
  background: #612897;
}
.box-contacto .form-seccion .item2 {
  background-color: #a3bb1b;
}
@media screen and (max-width: 980px) {
  .box-contacto {
    width: 100%;
  }
}

/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .container-footer, footer .container-footer-all .footer .footer1 {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-tienda, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1 {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1 {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-tienda, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1 {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
/* titulo */
/* grid galeria de tienda*/
.section-gallery {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}
.section-gallery .grid-gallery {
  display: grid;
  grid-template-columns: repeat(3, 20%);
  grid-gap: 1fr;
  margin: 20px;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  /*media querys*/
}
.section-gallery .grid-gallery div {
  border: 2px solid rgba(91, 4, 117, 0.7);
}
.section-gallery .grid-gallery div .img-gallery {
  margin: 2px auto;
  max-height: 300px;
  background-size: cover;
  background-position: center;
}
.section-gallery .grid-gallery div .img-title {
  color: black;
}
.section-gallery .grid-gallery div p {
  color: #000;
  font-size: 44px;
}
.section-gallery .grid-gallery div .btn-producto {
  outline: none;
  background-color: transparent;
  color: #000;
  padding: 10px 15px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid #612897;
  overflow: hidden;
  font-size: 20px;
  margin: 10px 0;
  z-index: 0;
  transition: all 300ms ease;
}
.section-gallery .grid-gallery div .btn-producto:hover {
  background-color: #612897;
  box-shadow: 0 0 20px #2d2436;
}
@media screen and (max-width: 980px) {
  .section-gallery .grid-gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-template-columns: 1;
    margin: 5px;
  }
  .section-gallery .grid-gallery .grid-gallery {
    flex-wrap: wrap;
  }
  .section-gallery .grid-gallery .grid-gallery div {
    width: 80%;
  }
  .section-gallery .grid-gallery .grid-gallery div .img-title {
    font-size: 20px;
  }
  .section-gallery .grid-gallery .grid-gallery div p {
    font-size: 20px;
  }
  .section-gallery .grid-gallery .grid-gallery div button {
    font-size: 26px;
  }
}

/* pagina de medios de pago */
/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .container-footer, footer .container-footer-all .footer .footer1 {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.pagos-container .pagos-page .pagos-titulo, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .pagos-container .pagos-page .pagos-titulo, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .pagos-container .pagos-page .pagos-titulo, .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
.pagos-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 5px auto;
}
.pagos-container .pagos-page {
  width: 70%;
}
.pagos-container .pagos-page .page-cuotas {
  display: flex;
  font-size: 35px;
  border: 2px solid #612897;
  border-radius: 6px;
  margin: 10px;
  padding: 15px 5px;
  cursor: pointer;
  color: #000;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .pagos-container .pagos-page .page-cuotas {
    color: #000;
    font-size: 26px;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}
.pagos-container .pagos-page .page-tarjetas {
  font-size: 35px;
  border-radius: 6px;
  border: 2px solid black;
  background: linear-gradient(#612897, #2a272c);
  padding: 15px 5px;
  margin: 10px;
  cursor: pointer;
  color: #fff;
}
@media screen and (max-width: 980px) {
  .pagos-container .pagos-page {
    color: #000;
    font-size: 26px;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }
}

/* colores */
/* tamaños de fuentes */
/*10*/
/* colores */
/* tamaños de fuentes */
/*10*/
/* body de todo el sitio */
body {
  padding: 0;
  margin: 0;
  font-family: "Bebas Neue", cursive;
  background: url(../images/foto42.png);
  background-size: 100%;
  background-position: center;
  background-attachment: fixed;
}

/* footer */
footer .container-footer-all .container-footer, footer .container-footer-all .footer .footer1 {
  display: flex;
  justify-content: space-between;
}

/* todos los titulos del sitio */
.title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda, .pagos-container .pagos-page .pagos-titulo {
  font-size: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
@media screen and (max-width: 480px) {
  .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda, .pagos-container .pagos-page .pagos-titulo {
    font-size: 35px;
    color: #000;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  .title-box, .texto-we, .title-video, .title-comprar, .box-contacto .form-seccion .display-1, .title-tienda, .pagos-container .pagos-page .pagos-titulo {
    font-size: 50px;
    color: #000;
  }
}

/* seccion de paginas de medios de pago - divs*/
.pagos-container .pagos-page .page-tarjetas {
  display: flex;
  justify-content: center;
}

/* mixin para el grid de la pagina tienda */
/* foto presentacion de index */
/* carousel de index */
/* mixiin para la seccion presentacion */
/* seccion de la pagina de medios de pago */
/* tablet */
@media screen and (min-width: 481px) and (max-width: 980px) {
  body {
    background: #B4A5A5;
    width: 100%;
  }
}
/* mobile */
@media screen and (max-width: 480px) {
  body {
    background: #F0D9FF;
    width: 100%;
  }
}
/* desktop */
@media screen and (min-width: 981px) {
  body {
    background: url(../images/foto42.svg);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
  }
}

/*# sourceMappingURL=style.css.map */
