@import '../scss/componentes/formulario';
@import '../scss/componentes/header';
@import '../scss/base/listas';
@import '../scss/componentes/footer';
@import '../scss/base/extends';
@import '../scss/base/mixin';


body {
    padding: 0;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
    background: url(../images/foto42.png);
    background-size: 100%;
    background-position: center;
    background-attachment: fixed;
}

//mobile header//
@media (max-width: 480px){
    header {
        nav {
           .checkbtn {
               display: block;
           } 

           ul {
            position: fixed;
            max-width: 100%;
            width: 100%;
            height: 50vh;
            background: linear-gradient(#2a272c, #612897);
            z-index: 10;
            top: 100px;
            left: -100%;
            text-align: center;
            transition: all .5s; 
           }

           label {
               logo {
                   padding-left: 0;
               }
           }

           .logo {
               img {
                display: block;
                max-height: 80px;
                max-width: 130px; 
               }
           }

           li {
                display: block;
                margin: 5px 0;
                line-height: 20px; 

                a {
                    font-size: 15px;

                   a:hover,a.active {
                       background: none;
                       color: #612897;
                   } 
                }

                #check:checked ~ ul {
                    left: 0;
                }
           }
        
        }
    }


}

//tablet header//
@media screen and (min-width: 481px) and (max-width:980px){
    header {
        nav {
           .checkbtn {
               display: block;
           } 

           ul {
            position: fixed;
            max-width: 100%;
            width: 100%;
            height: 50vh;
            background: linear-gradient(#2a272c, #612897);
            z-index: 10;
            top: 10px;
            left: -100%;
            text-align: center;
            transition: all .5s; 
           }

           li {
            display: block;
            margin: 5px 0;
            line-height: 30px; 

            a {
                font-size: 19px;

               a:hover,a.active {
                   background: none;
                   color: #612897;
               } 
            }

            #check:checked ~ ul {
                left: 0;
            }
       }

           .logo {
               img {
                max-height: 100px;
                max-width: 150px; 
               }
           }

         
        
        }
    }


}

//tablet footer//
@media screen and (min-width: 481px) and (max-width:980px) {
    .container-footer {
        flex-wrap: wrap;

        .columa1 {
            max-width: 100%;
        }

        .columna2 .columna3 {
            margin-top: 40px;
        }
    }
}
 //mobile footer//
 @media screen and (max-width: 480px) {
     .container-footer {
         display: flex;
         flex-wrap: wrap;

         .columa1 {
             flex-wrap: wrap;
             max-width: 100%;
         }

         .columna2 .columna3 {
             flex-wrap: wrap;
             margin-top: 40px;
         }
     }
 }