$colores-header:
violet,                             
#612897,
#2a272c,
red,
yellow,
white,
#000,
rgba(40, 46, 46, 0.4),
linearGradient(#612897,#2a272c);

$font-size:
100px,  /*1*/
60px,   /*2*/
50px,   /*3*/
44px,   /*4*/
40px,   /*5*/ 
35px,   /*6*/ 
30px,   /*7*/ 
26px,   /*8*/ 
20px,   /*9*/ 
14px;   /*10*/ 

