@import '../base/variables';
@import '../base/listas';
@import '../base/extends';


footer {
        background: linear-gradient(#612897, #2a272c);
        width: 100%;
        color: nth($colores-header , 6);

    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;
    

        .container-footer {
            @extend %display-footer;
            
            .columna1 {
                display: flex;
                justify-content: flex-start;

                img {
                    max-height: 200px;
                    max-width: 250px; 
                }
            }

            .columna2 {
                max-width: 400px;

                    h2 {
                    font-size: nth($font-size , 4);
                    }

                        .row {
                            margin-top: 20px;
                            display: flex; 

                                img {
                                    width: 36px;
                                    height: 36px; 
                                }

                                label {
                                    margin-top: 10px;
                                    margin-left: 20px;
                                    font-size: 20px;
                                    color: nth($colores-header , 6 );
                                }

                                a {
                                    text-decoration: none;
                                }
                        }

                            
            }

            .columna3 {
                max-width: 400px;

                h2 {
                    font-size: nth($font-size , 4);
                }

                    .row2 {
                        margin-top: 20px;
                        display: flex; 

                            img {
                                width: 36px;
                                height: 36px;
                            }

                            label {
                                margin-top: 10px;
                                margin-left: 20px;
                                max-width: 100px;
                                font-size: nth($font-size , 6);
                                color: nth($colores-header , 6 );
                            }
                }

            }
            
        }
     
        .footer {
            width: 100%;
            background: nth($colores-header , 7 );
            font-size: nth($font-size , 6);

            .footer1 {
                max-width: 1200px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                padding: 20px;

                .copyright {
                    color: nth($colores-header , 6 );
                    font-weight: bold;
                }
            }
        }
    }
}