@import '../base/variables';
@import '../base/listas';
@import '../base/extends';
@import '../base/mixin';
@import '../base/maps';

footer {
    width: 100%;
    background: linear-gradient(#2a272c,#612897);
    color: #fff;

    .container-footer-all {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        padding: 40px;

        .container-footer {
            @extend %display-footer;

            .columna1 {
               justify-content: flex-start; 

               img {
                max-height: 200px;
                max-width: 250px; 
               }
            }

            .columna2 {
                max-width: 400px;

                h2 {
                    font-size: nth($font-size , 7 );
                }

                .row {
                    display: flex;
                    margin-top: 20px;

                    img {
                        width: 36px;
                        height: 36px;
                    }

                    label {
                        margin-top: 10px;
                        margin-left: 20px;
                        font-size: 20px;
                        color: #c7c7c7; 
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }

            .columna3 {
                max-width: 400px;

                h2 {
                    font-size: nth($font-size , 7 );
                }

                .row2 {
                    margin-top: 20px;
                    display: flex;

                    img {
                        width: 36px;
                        height: 36px;
                    }

                    label {
                        margin-top: 10px;
                        margin-left: 20px;
                        max-width: 100px;
                        font-size: 20px;
                        color: #c7c7c7;
                    }
                }
            }

            @media screen and (max-width:480px) {
                display: flex;
                flex-wrap: wrap;
                max-width: 100%;
                margin-top: 40px;
            }

            @media screen and (min-width: 481px) and (max-width:980px) {
                flex-wrap: wrap;
                max-width: 100%;
                margin-top: 40px;
            }
        }

      .footer {
          width: 100%;
          background: #101010;

          .footer1 {
              @extend %display-footer;
              max-width: 1200px;
              margin: auto;
              padding: 20px;

              .copyright {
                color: #c7c7c7;
                font-weight: bold;
              }
          }
      }  
    }
}