@import '../base/variables';
@import '../base/listas';
@import '../base/extends';


.box-contacto {
    font-family: $fuente;
    padding: 35px;
    margin: 15px auto;

    .form-seccion {

        .display-1 {
            @extend %title;
        }
        
        .item {
            background: $form-color;
            
        }
        .item2 {
            background-color: $color-button;
        }
    }
}