@import '../base/variables';
@import '../base/listas';
@import '../base/extends';
@import '../base/mixin';
@import '../base/maps';


.title-tienda {
    @extend %title;
    
    /*media querys*/
    @media screen and (max-width:480px) {
        display: flex;
        height: 100%;
        width: 100%;
        font-size: 25px;
    }

    @media screen and (min-width: 481px) and (max-width:980px) {
        display: flex;
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 30px;
        }

}

.section-gallery {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    

        .grid-gallery {
            @include grid (3 , 1fr);
            margin: 20px;
            width: 100%;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            

            div {
                border: 2px solid rgba(91, 4, 117, 0.7);

                .img-gallery {
                    margin: 2px auto;
                    height: 300px;
                    background-size: cover;
                    background-position: center;
                }

                .img-title {
                    color: black;
                }

                p {
                    color: nth($colores-header , 7 );
                    font-size: nth($font-size , 4 );
                }

                .btn-producto {
                    outline: none;
                    background-color: transparent;
                    color: #000;
                    padding: 10px 15px;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-weight: bold;
                    border-radius: 5px;
                    border: 2px solid #612897;
                    overflow: hidden;
                    font-size: 20px;
                    margin: 10px 0;
                    z-index: 0;
                    transition: all 300ms ease;
                

                &:hover {
                        background-color: nth($colores-header , 2 );
                        box-shadow: 0 0 20px rgb(45, 36, 54);
                        
                }
            }
        }

            /*media querys*/
           @media screen and (max-width:480px) {
               display: flex;
               flex-wrap: wrap;

               .grid-gallery {
                   max-width: 470px;
                   flex-wrap: wrap;
                   margin: 2px 2px;
                   padding: 2px;

                   div {
                       width: 100%;

                       .img-title {
                           display: flex;
                           flex-wrap: wrap;
                           font-size: 15px;
                           justify-content: center;
                       }
                       
                       p {
                           font-size: 13px;
                           justify-content: center;
                       }

                       button {
                           font-size: 14px;
                       }
                   }
               }
           } 

           
           @media screen and (min-width: 481px) and (max-width:980px) {
               display: flex;
               flex-direction: column;
               flex-wrap: wrap;

               .grid-gallery {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    div {
                        width: 60%;

                        .img-title {
                            display: flex;
                            flex-wrap: wrap;
                            font-size: 20px;
                            justify-content: center;
                        }

                        p {
                            font-size: 15px;
                            justify-content: center;
                        }

                        button {
                            font-size: 17px;
                        }
                    }
               }
           }
        }
}


